<h1>ICADB - Event Plan Line</h1>
<%= link_to 'Home', controller: 'welcome' %> |
<%= link_to 'New event plan line', new_eventplanline_path %>

<table>
  <tr>
    <th>Planno</th>
    <th>Lineno</th>
    <th>Timestart</th>
    <th>Timeend</th>
    <th>Numberfld</th>
    <th>Locno</th>
    <th>Resno</th>
    <th colspan="2"></th>
  </tr>
 
  <% @eventplanlines.each do |eventplanline| %>
    <tr>
      <td><%= eventplanline.planno %></td>
      <td><%= eventplanline.lineno %></td>
      <td><%= eventplanline.timestart %></td>
      <td><%= eventplanline.timeend %></td>
      <td><%= eventplanline.numberfld %></td>
      <td><%= eventplanline.locno %></td>
      <td><%= eventplanline.resno %></td>
      <td><%= link_to 'Show', eventplanline_path(eventplanline) %></td>
      <td><%= link_to 'Edit', edit_eventplanline_path(eventplanline) %></td>
      <td><%= link_to 'Destroy', eventplanline_path(eventplanline),
              method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>