<%= form_for @customer do |f| %>
 
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2>
        There are <%= pluralize(@customer.errors.count, "error") %>:
      </h2>
      <ul>
        <% @customer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :custno %><br>
    <%= f.text_field :custno %>
  </p>
  
  <p>
    <%= f.label :custname %><br>
    <%= f.text_field :custname %>
  </p>
  
  <p>
    <%= f.label :address %><br>
    <%= f.text_area :address %>
  </p>
  
  <p>
    <%= f.label :internal %><br>
    <%= f.text_field :internal %>
  </p>
  
  <p>
    <%= f.label :contact %><br>
    <%= f.text_field :contact %>
  </p>
  
  <p>
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </p>
  
  <p>
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </p>
  
  <p>
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </p>
  
  <p>
    <%= f.label :zip %><br>
    <%= f.text_field :zip %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>